<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="hibernateSessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">1234</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/flipkartdb</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <property name="hbm2ddl.auto">update</property>
  <property name="hibernate.connection.isolation">2</property> 

<!--   <property name="hibernate.hbm2ddl.auto">create</property> -->
  <!--mapping class="com.topjavatutorial.dao.Flipkart_User"/ -->
  <!-- mapping resource="Flipkart_User.hbm.xml"/-->

  <mapping resource="Category.hbm.xml"/>
  <mapping resource="Buyer.hbm.xml"/>
  <mapping resource="Seller.hbm.xml"/>
  <mapping resource="SellerAccount.hbm.xml"/>
  <mapping resource="SubCategory.hbm.xml"/>
  <mapping resource="Item.hbm.xml"/>
  <mapping resource="ItemDetails.hbm.xml"/>
  <mapping resource="ItemImages.hbm.xml"/>
  <mapping resource="BuyerAccount.hbm.xml"/>
  <mapping resource="BuyerAddress.hbm.xml"/>
  <mapping resource="Review.hbm.xml"/>  
  <mapping resource="OrderItem.hbm.xml"/>
  <mapping resource="FlipkartAccount.hbm.xml"/>
  <mapping resource="Brand.hbm.xml"/>
  <mapping resource="Cart.hbm.xml"/>
  <mapping resource="WishlistItem.hbm.xml"/>
  <mapping resource="Deal.hbm.xml"/>
  <mapping resource="DealItem.hbm.xml"/>
  <mapping resource="FixedAttribute.hbm.xml"/>
  <mapping resource="Color.hbm.xml"/>
  
 </session-factory>
</hibernate-configuration>