@charset "UTF-8";
h2{
	text-align: center;
}

.classform{
	text-align: center;
}

@charset "UTF-8";
.card {
  width: 1000px;
  border:1px solid black;
  
}

.title {
  color: grey;
  font-size: 18px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

img {

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

button {
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 10px;
	
	width :100px;
	margin : 0% 1%
}


.details{
	display:inline-block;
	margin : 2% 5%;
}

.classtablediv{
	margin-top: 50px;
	margin-left: 10%;
	width: 80%;
	text-align: center;
}

.classtable{
	width:100%;
}

#idimagecoloumn{
	width:30%;
}
